
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    box-sizing: border-box;
}

.body{
    background-color: rgb(4, 82, 113);
}
.main{
    min-height: calc(100vh - 320px);
}
.light-blue{
    color: rgb(4, 82, 113);
}
.dark-blue{
    background-color: rgb(6, 144, 170);
}
.logo{
    font-family: 'Comfortaa', sans-serif;
    border-radius: 51% 49% 77% 23% / 43% 46% 54% 57%;
    background: linear-gradient(to top, grey 0%, black 50%)
}
.login__link{
    color: rgb(6, 144, 170);
}
.card__account{
    max-width: 450px;
    width: 100%;
}
.bg-dark-red{
    background-color: #3E0000;
}

.list{
    display: grid;
    grid-auto-columns: 1fr 1fr 2fr 3fr;
    color: black;
}
.list__link{
    border: 1px solid grey;
    text-decoration: none;
    color: black;
}
.list__ol{
    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 20px;
    margin: 10px;
}
.list__thread{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr 1fr;
    grid-auto-rows: 1fr;
    border-bottom: 1px solid grey;
    padding: 20px;
}

.stronger{
    font-weight: 900;
}

